extends layout

block content
  #file-info
    .filename
    .size
  table
    tbody
      each entry in entries
        if entry.percent > 1
          tr
            th(scope='row',data-params='#{JSON.stringify(entry.params)}') #{entry.name}
            td #{parseInt(entry.percent + 0.5)}%
  #holder
  p#copy
    | Based on 
    a(href='http://raphaeljs.com/') Raphaël
    | —JavaScript Vector Library
