doctype 5
html
  head
    meta(charset='utf-8')
    title Node-Filelight
    link(rel='stylesheet', href='/demo.css', media='screen')
    link(rel='stylesheet', href='/demo-print.css', media='print')
    script(src='/raphael.js')
    script(src='/jquery.js')
    script(src='/pie.js')
    style(media='screen')
      #holder {
      margin: -350px 0 0 -350px;
      width: 700px;
      height: 700px;
      }
  body
    block content