body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}

#file-info {
    position: absolute;
    opacity: 0.5;
    border: 1px solid white;
    background-color: black;
    color: white;
    top: 5px;
    left: 5px;
    width: 400px;
    height: 30px;
    font-size: 8px;

}

#file-info .size {
    font-size: 14px;
} 